.italicFont2 {
    /* font-family: GERALDINE; */
    border-radius: 50px;
    padding: 1% 2%;
}
.italicFont{
    border-radius: 50px;
    display: inline;
    padding: 10px;
}


/* Heading Component */
.worldImg {
    width: 35px;
    height: 35px;
}


/* for video and two images */
.setImages {
    width: 100%;
    height: 100%;
}
/* .setImages-row div:first-child {
    margin-top: 2%;
    min-width: 12rem;
    height: 500px;
    border: 1px solid;
    border-radius: 10px;

}
.setImages-row div:nth-child(2){
    margin-top: 6%;
    min-width: 12rem;
    height: 500px;
    border: 1px solid red;
    border-radius: 10px;

}
.setImages-row div:last-child {
    margin-top: 10%;
    min-width: 12rem;
    height: 500px;
    border: 1px solid;
    border-radius: 10px;
} */

.heading {
    font-size: 4.4rem;
}

.para {
    font-size: 1.4rem;
}


/* Searchbar Component */
.neumorphism {
    padding: 1rem;
    border-radius: 5rem;
    background: #ffffff;
    box-shadow: 10px 10px 30px #c5c5c5,
        -10px -10px 30px #ffffff;
}
.neumorphism input{
    outline: 0px;
    border: 0px;
}
.vLine {
    border-right: 2px solid rgb(170, 158, 158);
    height: 45px;
}



/* Services Component*/
.services_container {
    margin-top: 5%;
}

/* .services-col {
    box-shadow: 1px 1px 2px goldenrod;
    border: 1px solid;
} */

.services {
    width: 5rem;
    height: 5rem;
    padding: 10px;
    border-radius: 50%;
}

.services img {
    width: 100%;
    height: 100%;
}

/* FeaturedTours Component (card) */
.card {
    box-shadow: 1px 1px 20px rgb(208, 205, 205);
    border: 0px;
    transition: transform 0.5s linear;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.07);
}

/* Experince Component*/
.experience{
    margin-top: 5%;
}
.numBox {
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-radius: 10px 5px 10px 5px;
}

/* Gallery Component*/
.item {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, minmax(120px, 1fr));
    grid-template-rows: masonry;
}

.item img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    transition: all 0.5s linear;
}

.item img:hover {
    transform: scale(1.07);
}


/* Clients Component */
.clients {
    margin-top: 10%;
}

/* Subscribe Component*/
.subscribe {
    margin-top: 10%;
    background-color: skyblue;
}
.inputGroup{
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* border: 1px solid; */
    background-color: #ffffff;
    padding: 10px;
}
.inputGroup input{
    outline: none;
    border: 0px;
    width: 100%;
}
.inputGroup button{
    border-radius: 5px;
    border: 0px;
}