.worldImg {
    width: 25px;
    height: 25px;
}


/* for video and two images */
.setImages {
    width: 100%;
    height: 100%;
}

/* .setImages-row div:first-child {
    margin-top: 2%;
    min-width: 12rem;
    height: 500px;
    border: 1px solid;
    border-radius: 10px;

}
.setImages-row div:nth-child(2){
    margin-top: 6%;
    min-width: 12rem;
    height: 500px;
    border: 1px solid red;
    border-radius: 10px;

}
.setImages-row div:last-child {
    margin-top: 10%;
    min-width: 12rem;
    height: 500px;
    border: 1px solid;
    border-radius: 10px;
} */

.heading {
    font-size: 4.4rem;
}

.para {
    font-size: 1.4rem;
}


/* Searchbar */
.neumorphism {
    padding: 1rem;
    border-radius: 5rem;
    background: #ffffff;
    box-shadow: 10px 10px 30px #c5c5c5,
        -10px -10px 30px #ffffff;
}

/* .vertical {
    border-right: 2px solid black;
    height: 40px;
} */



/* Services */
.services_container {
    margin-top: 10%;
}

.services-col {
    /* box-shadow: 1px 1px 2px goldenrod; */
    /* border: 1px solid; */
}

.services {
    width: 5rem;
    height: 5rem;
    padding: 10px;
    border-radius: 50%;
}

.services img {
    width: 100%;
    height: 100%;
}

/* card */
.card {
    box-shadow: 1px 1px 20px rgb(208, 205, 205);
    border: 0px;
}


.numBox {
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-radius: 10px 5px 10px 5px;
}


.item {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, minmax(120px, 1fr));
    grid-template-rows: masonry;
  }
.item img{
    width: 300px;
    height: auto;
    border-radius: 10px;
}
  

/* clients */
.clients{
    margin-top: 10%;
}

/* subscribe */
.subscribe{
    margin-top: 10%;
    background-color: skyblue;
}