
.input-group input {
    border: 0px;
}

input[type=radio]{
    display: none;
}

.star{
    cursor: pointer;
}

.priceperperson,.information{
    margin-top: 15%;
}

.userInfo{
    margin: 5% 8% 0% 8%;
    /* border: 1px solid; */
}
.userInfo input{
    border: 0px;
    /* margin-top: 5%; */
    margin: 5% ;
    width: 90%;
}
.bookingcharge{
    margin: 5% 9% 0% 9%;
    /* border: 1px solid; */
}
