
.input-group input {
    border: 0px;
}

input[type=radio]{
    display: none;
}

.star{
    cursor: pointer;
}

.priceperperson,.information{
    margin-top: 15%;
}

.userInfo{
    margin: 5% 8% 0% 8%;
    /* border: 1px solid; */
}
.userInfo input{
    border: 0px;
    /* margin-top: 5%; */
    margin: 5% ;
    width: 90%;
}
.bookingcharge{
    margin: 5% 9% 0% 9%;
    /* border: 1px solid; */
}
.btn{
    border-radius: 50px;
   
}
.InputGroup{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 50px;
    border: 2px solid goldenrod;
    align-items: center;
    height: 5rem;
}
.InputGroup input{
    width: 100%;
    outline: none;
    border: 0px;

}
.InputGroup button{
    width: 7rem;
    padding:13px;
    /* margin-bottom: 3px; */
}

